.layout {
	@apply relative w-full bg-gray-900;

	.imageWrapper {
		@apply absolute top-0 right-0;
		> image {
			@apply w-full h-full object-cover z-1;

			min-width: 900px;
			min-height: 680px;
		}

		&::before {
			@apply absolute top-0 left-0 w-full h-full z-2;
			content: '';
			background: linear-gradient(
				90deg,
				#000000 0%,
				rgba(0, 0, 0, 0.5) 20.41%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}
}
